.body {
    margin: 0;
    padding: 0;
    background-color: #ff4343;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .kartu {
    height: 300px;
    color: blue;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .kartu h3 {
    color: #1a1a1a;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .kartu p {
    color: #666;
    font-size: 16px;
  }