@import "tailwindcss";

body {
  background: rgb(220, 229, 220);
  color: var(--foreground);
  padding: 1rem;
  padding-bottom: 6rem;
  padding-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}


/* instalasi 

npm install clsx */
/* npm install @heroicons/react */
