/* Base styles */
.homepage {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #1E1E1E;
  }
  
  /* Hero Container */
  .heroContainer {
    margin-top: -6rem;
    z-index: 0;
    position: relative;
    max-height: 800px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .heroBackground {
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
  }

.heroOverlay {
  position: relative;
  object-fit: cover;
  z-index: 1;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .heroTextContainer {
    text-align: center;
    margin-top: 8rem;
  }
  
  .judulHero {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0 0 3px;
    position: relative;
    text-align: center;
    z-index: 1;
    margin: 0;
    opacity: 0;
    transform: translateY(-40px);
    transition: all 0.6s ease-out;
  }
  
  .deskripsiHero {
    z-index: 0;
    font-size: 1rem;
    color: #e0e0e0;
    margin-top: -1.5rem;
    position: relative;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out;
  }
  
  /* Banner Styles */
  .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }
  
  .product {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: 0.7s;
    --left: 0px;
    display: flex;
  }
  
  .ball {
    background:
      var(--url) var(--left) 0,
      url('/images/ball-sphere.png');
    background-size: auto 100%;
    width: 120px;
    bottom: 0%;
    aspect-ratio: 1/1;
    background-blend-mode: multiply;
    mask-image: url('/images/ball-sphere.png');
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  
  .product:hover {
    --left: -844px;
    transform: translateX(-50%) translateY(-120px) scale(120%);
  }
  
  .rock {
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
  }
  
  .rock img {
    position: absolute;
    transition: 0.7s;
  }
  
  .rock img:nth-child(1) {
    height: 96px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    transition: 0.7s;
    z-index: 2;
  }
  
  .product:hover ~ .rock img:nth-child(1) {
    transform: translateX(-50%) translateY(20px) scale(85%);
  }
  
  .rock img:nth-child(2) {
    height: 350px;
    width: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.7s;
    z-index: 1;
  }
  
  .product:hover ~ .rock img:nth-child(2) {
    transform: translateX(-100px) translateY(20px) scale(80%);
  }
  
  .rock img:nth-child(3) {
    height: 350px;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.7s;
    z-index: 1;
  }
  
  .product:hover ~ .rock img:nth-child(3) {
    transform: translateX(100px) translateY(20px) scale(80%);
  }
  
  .ball:nth-child(2) {
    opacity: 0;
  }
  
  .product:hover .ball:nth-child(2) {
    opacity: 1;
  }
  
  .bookNow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    background-color: rgba(78, 78, 78, 0.4);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    z-index: 999; 
    pointer-events: auto;
    transition: 0.7s;
  }
  
  .product:hover .bookNow {
    transform: translate(-50%, -50%) translateY(120px);
    background-color: #ffffff8e;
    color: #033d0d;
    border: 3px solid #fff;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .homepage{
        overflow-x: hidden;
        width: 100%;
        margin-bottom: 70px;
    }
    .heroContainer {
      margin-top: -4rem;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .judulHero {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    
    .deskripsiHero {
      font-size: 0.8rem;
      align-self: center;
    }
    
    
    .heroContainer {
      background-size: cover;
    }
  
    .product {
      width: 250px;
      height: 250px;
      bottom: -30px;
    }
  
    .ball {
      width: 70px;
      bottom: 165px;
    }
  
    .rock img:nth-child(1) {
      width: 120px;
      height: auto;
      bottom: 100px;
    }
  
    .rock img:nth-child(2),
    .rock img:nth-child(3) {
      width: 160px;
      height: auto;
      bottom: 100px;
    }
  
    .product:hover ~ .rock img:nth-child(2) {
      transform: translateX(-40px) translateY(20px) scale(80%);
    }
    
    .product:hover ~ .rock img:nth-child(3) {
      transform: translateX(40px) translateY(20px) scale(80%);
    }
  
    .bookNow {
      font-size: 0.8rem;
      padding: 10px 20px;
      top: 60%;
    }
  
    .product:hover .bookNow {
      transform: translate(-50%, -50%) translateY(95px);
      background-color: #ffffff8e;
      color: #033d0d;
      border: 2px solid #fff;
    }
    
  }
  
  /* Animation Classes */
  .show {
    opacity: 1;
    transform: translateY(0);
  }

.featuresSection {
  padding: 60px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.judulFasilitas {
  color: rgb(20, 20, 20);
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  z-index: 1;
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.6s ease-out;
}

.deskripsiFasilitas {
    padding-bottom: 2rem;
    z-index: 0;
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    color: #616161;
    margin-top: -1.5rem;
    position: relative;
    text-align: center;
    opacity: 0;
    transform: translateX(60px);
    transition: all 1s ease-out;
  }

.show {
    opacity: 1;
    transform: translateY(0);
  }


.featuresDescription {
  max-width: 700px;
  margin: 0 auto 2rem auto;
  font-size: 1rem;
  color: #555;
}

.features {
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.featureCard {
  position: relative;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* shadow timbul */
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: white;
  background-image: url('/images/card-texture2.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 1;
  transform: translateX(-100px);
  transition: all 0.7s ease-out;
}
.featureCard::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/card-texture4.jpg');
  background-size: cover;
  background-position: center;
  clip-path: inset(0 100% 0 0); /* tersembunyi dari kanan */
  transition: clip-path 0.7s ease-in-out;
  z-index: -1;
}

.featureCard:hover::before {
  clip-path: inset(0 0 0 0);
}

.featureCard:hover img {
  transform: scale(1.25);
}

.featureCard h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #ffffff;
}

.featureCard p {
  font-size: 0.95rem;
  margin: 0.5rem 0 1rem;
  color: #ffffff;
  text-align: center;
}

.featureButton {
  background-color: #4b5e6800;
  color: white;
  border: 2px solid;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: transform 0.3s;
}

.featureButton:hover {
  transform: scale(1.05);
  background-color: rgb(21, 107, 55);
}

.imageWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
    opacity: 1;
    transform: translateY(0);
  }

/* Responsif */
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .featureCard {
    width: 80%;
    height:300px;
  }
}

/* SECTION GALERRY */

.galleryContainer {
  padding: 4rem 2rem;
  background-color: #333339;
  text-align: center;
}

.judulGallery {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  z-index: 1;
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.6s ease-out;
}

.deskripsiGallery{
  font-weight: bold;
  color: #d4d4d4;
  width: 80%;
  margin: 0 auto;
  margin: 0 auto 2rem;
  line-height: 1.6;
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.6s ease-out;
}

.galleryBanner {
  width: 100%;
  height: 310px;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.779);
  background-image: url('/images/flyer.png');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* Ganti gambar saat mobile */
@media (max-width: 768px) {
  .galleryBanner {
    background-image: url('/images/flyerMobile.png');
  }
}



.slider {
  width: 100%;
  padding: 0.55rem;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 25s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((25s / var(--quantity)) * (var(--position) - 1) - 25s) !important;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Animation for sliding */
@keyframes autoRun {
  from {
      left: 100%;
  }
  to {
      left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

/* Reverse direction animation */
.slider[data-reverse="true"] .item {
  animation: reversePlay 25s linear infinite;
  margin-top: 1rem;
}

@keyframes reversePlay {
  from {
      left: calc(var(--width) * -1);
  }
  to {
      left: 100%;
  }
}

/* ALUR PEMESANAN SECTION */

.bookingSection {
  max-height: fit-content;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  color: white;
  position: relative;
  text-align: center;
}

.bookingOverlay {
  background: rgba(0, 0, 0, 0);
  padding: 40px 20px;
  border-radius: 10px;
}

.judulBooking {
  color: rgb(20, 20, 20);
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  z-index: 1;
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.6s ease-out;
}

.deskripsiBooking {
    padding-bottom: 2rem;
    z-index: 0;
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    color: #616161;
    margin-top: -1.5rem;
    position: relative;
    text-align: center;
    opacity: 0;
    transform: translateX(60px);
    transition: all 1s ease-out;
}

.bookingSteps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.stepCard {
  background-image: url(/images/card-texture2.jpg);
  color: rgb(255, 255, 255);
  width: 260px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  overflow: visible;
  opacity: 1;
  transform: translateY(80px);
  transition: all 0.6s ease-out;
}

.stepCard::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  clip-path: circle(0% at 50% 0%);
  transition: clip-path 0.5s ease-in-out;
  z-index: 0;
}

.stepCard:hover::before {
  clip-path: circle(150% at 50% 0%);
}

.stepCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.stepCard h3,
.stepCard p {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.stepCard:hover h3,
.stepCard:hover p {
  color: rgb(27, 27, 27);
}


.stepNumber {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 40px;
  height: 40px;
  background-color: #e97c0e;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 7;
  transition: background-color 0.4s ease, color 0.4s ease;
}


.stepCard:hover .stepNumber {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.show {
    opacity: 1;
    transform: translateY(0);
  }

/* Responsive */
@media (max-width: 768px) {
  .bookingSteps {
    flex-direction: column;
    align-items: center;
  }

  .stepCard {
    width: 90%;
  }
}

/* SECTION LOKASI */
.section {
  background-image: url('/images/card-texture2.jpg'); /* hijau */
  padding: 3rem 1rem;
  text-align: center;
  color: white;
}


.content {
  display: flex;
  flex-direction: column;
  background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 8px;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.infoBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoBox {
  background-image: url('/images/gor.jpg');
  background-size: contain; /* Gambar tidak di-zoom, akan fit sesuai ukuran */
  background-repeat: no-repeat; /* Hindari pengulangan */
  background-position: center; /* Gambar selalu di tengah */
  width: 100%;
  max-width: 100%; 
  height: 300px;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* menjaga proporsi tanpa hardcoded height */
}

.logo {
  background-image: url('/images/logo.png');
  background-size: contain; /* Gambar tidak di-zoom, akan fit sesuai ukuran */
  background-repeat: no-repeat; /* Hindari pengulangan */
  background-position: center; /* Gambar selalu di tengah */
  height: 20px;
  width: 110px;
  font-weight: bold;
  border-radius: 4px;
  position: absolute;
  top: 1rem;
  left: 4.5rem;
}

.judulAlamat {
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  bottom: -2rem;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.6s ease-out;
}

.deskripsiAlamat{
  font-weight: bold;
  color: #d4d4d4;
  width: 80%;
  margin: 0 auto 2rem;
  line-height: 1.6;
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.6s ease-out;
}

.photoLabel {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3rem;
}

.address {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: black;
  text-align: center;
}

.mapButton {
  background-color: #05924e;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s ease;
}

.mapButton:hover {
  transform: scale(1.05);
  background-color: #15803d;
}

.mapBox {
  flex: 1;
  background-color: #ffffff; /* light gray */
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapText {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
  .show {
    opacity: 1;
    transform: translateY(0);
  }

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .infoBox, .mapBox {
    height: 100%;
  }

  .photoBox {
    height: 250px;
  }
}


/* Tambahan untuk padding dan alignment mobile */
@media (max-width: 767px) {
  .content {
    padding: 1rem;
  }

  .infoBox {
    width: 100%;
  }

  .mapBox{
    width: 100%;
  }

  .logo {
    top: 4rem;
    left: 0.5rem;
  }

  .content {
    flex-direction: column-reverse;
    width: 90%; /* ini membalik urutan: mapBox di atas, infoBox di bawah */
  }

  .address {
    font-size: 1rem;
    margin-top: -3.5rem;
  }

  .mapButton {
    width: 100%;
    text-align: center;
  }

  .judulAlamat {
    font-size: 1.6rem;
  }

  .deskripsiAlamat {
    font-size: 1rem;
    width: 100%;
    padding: 0 1rem;
  }
   .photoBox{
    top: -2rem;
    width: 400px;
    height: 300px;
   }

  .mapButton {
    font-size: 0.9rem;
    padding: 0.8rem;
    border-radius: 8px;
    width: 80px;
    max-width: 100%;
    text-align: center;
  }

  .infoBox{
    padding-bottom: 2rem;
  }
}